<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/createroutinestyles.css">
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='createworkoutstyles.css') }}"> -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>FitLab Fitness</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <ul class="right-side">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.postermywall.com%2Findex.php%2Fart%2Ftemplate%2F386146ae4164059d8fb5bbf00a6c28bc%2Ffitness-logo%252C-gym-logo%252C-fitness-center-logo-%2528-design-template&psig=AOvVaw1gk8HZnsSwFvrjKJNbm0vF&ust=1713631815105000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNC_3pLezoUDFQAAAAAdAAAAABAJ" 
                  alt="">
            </ul>
            <ul class="left-side">
               <li><a href="{{ url_for('index_views.home') }}">Home</a></li>
                <li><a href="{{ url_for('routines_views.view_my_routines') }}">Routines</a></li>
                <li><a href="{{ url_for('auth_views.logout_action') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="routines">
        <form method="POST" action='/create-routine'>
            <div class="top-container">
                <div class="text-container">
                    <h1>Create Routine</h1>
                </div>
                <div class="popup active" id="popup-1">
                    <div class="overlay">
                        <div class="content">
                            <div>
                                <div class="wrapper">
                                    <a href='/create-routine/all' class="item">All</a>
                                    <a href='/create-routine/chest' class="item">Chest</a>
                                    <a href='/create-routine/legs' class="item">Legs</a>
                                    <a href='/create-routine/back' class="item">Back</a>
                                    <a href='/create-routine/arms' class="item">Arms</a>
                                    <a href='/create-routine/waist' class="item">Abs</a>
                                </div>
                            </div>
                            <div class="browse-workouts">
                                <div class="workout-cards">
                                  % for exercise in exercises %}
                                    <div class="card-workouts">
                                        <div class="card-text">
                                           <p> Workout Name: {{exercise.name}}</p>
                                            <p>Equipment Needed: {{exercise.equipment}}</p>
                                            <p>Instructions: {{exercise.instructions}}</p>
                                        </div>
                                        <div class="edit-button">
                                            <input type="checkbox" name="exercise-id" value="{{exercise.id}}">
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="split">
                <div class="form-container">
                    <label for="workout-form">Routine Name:</label>
                    <input type="text" id="routine-name" name="routine-name" required placeholder="Enter routine name">
                    <div class="bodypart">
    
                    </div>
                    <div class="split-button">
                        <button type="submit">Create Routine</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
