<!DOCTYPE html>
<html lang = "en">

<head>
    <link rel = "stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Build-a-body</title>
    <link rel="icon" href="https://cdn-sharing.adobecc.com/composite/component/id/urn:aaid:sc:US:2fbd1a5d-739c-4366-aab7-51d597107e18?component_id=7c1b8bee-964b-4e97-86b2-ae91029fc977&revision=eb9adeb3-2c5e-481e-a6d6-63214728f8bb&api_key=projectx_webapp&access_token=1713515524_urn%3Aaaid%3Asc%3AUS%3A2fbd1a5d-739c-4366-aab7-51d597107e18%3Bpublic_eddafc6d7e8526367148ed4efc883ef87db3cc57" type="image/x-icon">
</head>

<body>
<header class = "header">
    <nav class = "navbar">
        <ul class = "left">
            <img src="https://cdn-sharing.adobecc.com/composite/component/id/urn:aaid:sc:US:2fbd1a5d-739c-4366-aab7-51d597107e18?component_id=7c1b8bee-964b-4e97-86b2-ae91029fc977&revision=eb9adeb3-2c5e-481e-a6d6-63214728f8bb&api_key=projectx_webapp&access_token=1713515524_urn%3Aaaid%3Asc%3AUS%3A2fbd1a5d-739c-4366-aab7-51d597107e18%3Bpublic_eddafc6d7e8526367148ed4efc883ef87db3cc57" alt ="logo">
        </ul>
        <ul class = "center">
            <li><a href = "{{ url_for('index_views.home_page') }}" >Home</a></li>
            <li><a href = "{{ url_for('workout_views.views_workouts') }}" >Workouts</a></li>
            <li><a href = "{{ url_for('routine_views.view_my_routines') }}" >Routine Maker</a></li>
        </ul>
        <ul class = "right">
            <li><a href = "{{ url_for('auth_views.logout_action') }}">Logout</a></li>
        </ul>
        </ul>
    </nav>
</header>

<div class = "web-body">
    <h1><b>BUILD-A-BODY</b></h1>
    <h3>WORKOUT ROUTINE PLANNER</h3>
</div>

<section class = "col s12 m9" style = "margin-top: 5px; height: 86vh">
    <div class = "card-container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://cdn.pixabay.com/photo/2017/04/27/08/29/man-2264825_1280.jpg">
                            <span class="card-title" style = "margin-left: 39%;"><b>BEGIN PLANNING</b></span>
                            <a href = " {{ url_for('workout_views.views_workouts') }}"class="btn-floating halfway-fab waves-effect waves-light #83C9BC" style = "margin-right: 45%;"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
</body>
</html>