<!DOCTYPE html>
<html lang = "en">

<head>
    <link rel = "stylesheet" href="{{ url_for('static', filename='views_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Build-a-body</title>
    <link rel="icon" href="https://cdn-sharing.adobecc.com/composite/component/id/urn:aaid:sc:US:2fbd1a5d-739c-4366-aab7-51d597107e18?component_id=7c1b8bee-964b-4e97-86b2-ae91029fc977&revision=eb9adeb3-2c5e-481e-a6d6-63214728f8bb&api_key=projectx_webapp&access_token=1713515524_urn%3Aaaid%3Asc%3AUS%3A2fbd1a5d-739c-4366-aab7-51d597107e18%3Bpublic_eddafc6d7e8526367148ed4efc883ef87db3cc57" type="image/x-icon">
</head>

<body>
    <header class = "header">
        <nav class = "navbar">
            <ul class = "left">
                <img src="https://cdn-sharing.adobecc.com/composite/component/id/urn:aaid:sc:US:2fbd1a5d-739c-4366-aab7-51d597107e18?component_id=7c1b8bee-964b-4e97-86b2-ae91029fc977&revision=eb9adeb3-2c5e-481e-a6d6-63214728f8bb&api_key=projectx_webapp&access_token=1713515524_urn%3Aaaid%3Asc%3AUS%3A2fbd1a5d-739c-4366-aab7-51d597107e18%3Bpublic_eddafc6d7e8526367148ed4efc883ef87db3cc57" alt ="logo">
            </ul>
            <ul class = "center">
                <li><a href = "{{ url_for('index_views.home_page') }}" >Home</a></li>
                <li><a href = "{{ url_for('workout_views.views_workouts') }}" >Workouts</a></li>
                <li><a href = "{{ url_for('routine_views.view_my_routines') }}" >Routine Maker</a></li>
            </ul>
            <ul class = "right">
                <li><a href = "{{ url_for('auth_views.logout_action') }}">Logout</a></li>
            </ul>
            </ul>
        </nav>
    </header>

 <div class = 'row'>
    <section class = "col s12 m9" style = "margin-top: 5px; overflow-y: scroll; height: 86vh">
        <div class = "card-container">
                <div class="row">
                    
                    <div class="col s12 m5">
                        {%for work in category_get%}
                        <div class="card">
                            <div class = "card-content">
                                <p>Workout Name: {{work.name}}
                                <p>Workout Equipment: {{work.equipment}}</p>
                                <p>Body Part Used: {{work.bodyPart}}</p>
                                <p>Instructions: {{work.instructions}}</p>
                            </div>
                            <div class = "card-action">
                                <a href = "/get_workout_in_routine">Add Workout</a>
                            </div>
                        </div>
                         {%endfor%}
                    </div>
                  
                </div>
        </div>
    </section>

    <section class = "col s12 m3">
        {%if category_get%}
        <h3 style = "text-align: center;">Workouts for Routine</h3>

        <form class = "card col s12" method = "POST" action = "/add_workout_to_routine">
            <div class = "row">
                <input type="hidden" value = "{{ category_get.id }}" name = "workout_id">
                <div class = "input-field col s12">
                    <textarea name = "text" class = "materialize-textarea"></textarea>
                    <placeholder for = "text">Name Routine</placeholder>
                </div>
            </div>
            <button class = "btn waves-effect waves-light red" type = "submit">
                Add Workout
            </button>


        </form>

        {%else%}
        <h4>Select a workout to add to routine</h4>
        {%endif%}

        <div class="row" style="height: 44vh; overflow-y: scroll">
            {%for work in get_routine.workout%}
            <div class="card">
                <div class="card-content">
                  <p>Text: {{ work.workout.name }}</p>
                  <p>Review Rating: {{ work.workout.bodyPart }}</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove from Routine</a>
                </div>
            </div>
            {%endfor%}
          </div>
    </section>
 </div>
    
</body>
</html>